#page-container
{
    width:600px;
    margin:auto;
}

html, body
{
    margin: 5px;
    padding: 0;
}

#menu1
{
    background: #FFFFCC;
    height: 100px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

p
{
    display: inline-block;
    vertical-align:middle;
    line-height:250px;
}

#menuText
{
    display: inline-block;
    vertical-align:middle;
    line-height:normal;
}

#col1
{
    float:left;
    width:200px;
    background:green;
    height:300px;
    text-align: left;
}

#col2 {
    float:left;
    width:200px;
    background: pink;
    height:300px;
    text-align: center;
}

#col3 {
    float:left;
    width:200px;
    background: red;
    height:300px;
    text-align: right;
}

#footer-nav ul
{ /* Center List */
    list-style-type: none;
    text-align: center;
}

#footer-nav ul li
{ /* Display the list horizontally*/
    display: inline;
}

#footer-nav ul li a
{ /* Create Button-Like Appearance*/
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #216614;
}

#footer-nav ul li a:hover
{ /* Change Appearance if Mouse Hovers Over Button */
    color: #fff;
    background-color: #21996e;
}